<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "profile-form", data: { turbo_stream: true } }) do |f| %>
  <div class="form-row">
    <div class="form-group">
      <%= f.label :first_name, "First Name", class: "form-label" %>
      <%= f.text_field :first_name, class: "form-input", autocomplete: "given-name" %>
    </div>
    
    <div class="form-group">
      <%= f.label :last_name, "Last Name", class: "form-label" %>
      <%= f.text_field :last_name, class: "form-input", autocomplete: "family-name" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email Address", class: "form-label" %>
    <%= f.email_field :email, class: "form-input", autocomplete: "email" %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="form-hint">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :country_of_residence, "Country of Residence", class: "form-label" %>
    <%= f.select :country_of_residence,
        options_for_select([
          ['ðŸ‡¦ðŸ‡º Australia', 'Australia'],
          ['ðŸ‡³ðŸ‡¿ New Zealand', 'New Zealand'],
          ['ðŸ‡ºðŸ‡¸ United States', 'United States'],
          ['ðŸ‡¬ðŸ‡§ United Kingdom', 'United Kingdom'],
          ['ðŸ‡¨ðŸ‡¦ Canada', 'Canada'],
          ['ðŸ‡©ðŸ‡ª Germany', 'Germany'],
          ['ðŸ‡«ðŸ‡· France', 'France'],
          ['ðŸ‡®ðŸ‡¹ Italy', 'Italy'],
          ['ðŸ‡ªðŸ‡¸ Spain', 'Spain'],
          ['ðŸ‡³ðŸ‡± Netherlands', 'Netherlands'],
          ['ðŸ‡§ðŸ‡ª Belgium', 'Belgium'],
          ['ðŸ‡¨ðŸ‡­ Switzerland', 'Switzerland'],
          ['ðŸ‡¦ðŸ‡¹ Austria', 'Austria'],
          ['ðŸ‡¸ðŸ‡ª Sweden', 'Sweden'],
          ['ðŸ‡³ðŸ‡´ Norway', 'Norway'],
          ['ðŸ‡©ðŸ‡° Denmark', 'Denmark'],
          ['ðŸ‡«ðŸ‡® Finland', 'Finland'],
          ['ðŸ‡®ðŸ‡ª Ireland', 'Ireland'],
          ['ðŸ‡¯ðŸ‡µ Japan', 'Japan'],
          ['ðŸ‡°ðŸ‡· South Korea', 'South Korea'],
          ['ðŸ‡¸ðŸ‡¬ Singapore', 'Singapore'],
          ['ðŸ‡­ðŸ‡° Hong Kong', 'Hong Kong'],
          ['ðŸ‡¨ðŸ‡³ China', 'China'],
          ['ðŸ‡®ðŸ‡³ India', 'India'],
          ['ðŸ‡§ðŸ‡· Brazil', 'Brazil'],
          ['ðŸ‡¦ðŸ‡· Argentina', 'Argentina'],
          ['ðŸ‡¨ðŸ‡± Chile', 'Chile'],
          ['ðŸ‡²ðŸ‡½ Mexico', 'Mexico'],
          ['ðŸ‡¿ðŸ‡¦ South Africa', 'South Africa'],
          ['ðŸ‡®ðŸ‡± Israel', 'Israel'],
          ['ðŸ‡¦ðŸ‡ª United Arab Emirates', 'United Arab Emirates'],
          ['ðŸŒ Other', 'Other']
        ], resource.country_of_residence || 'Australia'),
        { prompt: 'Select your country of residence' },
        { class: "form-select", autocomplete: "country" } %>
  </div>

  <div class="form-row">
    <div class="form-group">
      <%= f.label :mobile_country_code, "Mobile Country Code", class: "form-label" %>
      <%= f.select :mobile_country_code,
          options_for_select([
            ['+61 ðŸ‡¦ðŸ‡º Australia', '+61'],
            ['+64 ðŸ‡³ðŸ‡¿ New Zealand', '+64'],
            ['+1 ðŸ‡ºðŸ‡¸ United States', '+1'],
            ['+44 ðŸ‡¬ðŸ‡§ United Kingdom', '+44'],
            ['+1 ðŸ‡¨ðŸ‡¦ Canada', '+1'],
            ['+49 ðŸ‡©ðŸ‡ª Germany', '+49'],
            ['+33 ðŸ‡«ðŸ‡· France', '+33'],
            ['+39 ðŸ‡®ðŸ‡¹ Italy', '+39'],
            ['+34 ðŸ‡ªðŸ‡¸ Spain', '+34'],
            ['+31 ðŸ‡³ðŸ‡± Netherlands', '+31'],
            ['+32 ðŸ‡§ðŸ‡ª Belgium', '+32'],
            ['+41 ðŸ‡¨ðŸ‡­ Switzerland', '+41'],
            ['+43 ðŸ‡¦ðŸ‡¹ Austria', '+43'],
            ['+46 ðŸ‡¸ðŸ‡ª Sweden', '+46'],
            ['+47 ðŸ‡³ðŸ‡´ Norway', '+47'],
            ['+45 ðŸ‡©ðŸ‡° Denmark', '+45'],
            ['+358 ðŸ‡«ðŸ‡® Finland', '+358'],
            ['+353 ðŸ‡®ðŸ‡ª Ireland', '+353'],
            ['+81 ðŸ‡¯ðŸ‡µ Japan', '+81'],
            ['+82 ðŸ‡°ðŸ‡· South Korea', '+82'],
            ['+65 ðŸ‡¸ðŸ‡¬ Singapore', '+65'],
            ['+852 ðŸ‡­ðŸ‡° Hong Kong', '+852'],
            ['+86 ðŸ‡¨ðŸ‡³ China', '+86'],
            ['+91 ðŸ‡®ðŸ‡³ India', '+91'],
            ['+55 ðŸ‡§ðŸ‡· Brazil', '+55'],
            ['+54 ðŸ‡¦ðŸ‡· Argentina', '+54'],
            ['+56 ðŸ‡¨ðŸ‡± Chile', '+56'],
            ['+52 ðŸ‡²ðŸ‡½ Mexico', '+52'],
            ['+27 ðŸ‡¿ðŸ‡¦ South Africa', '+27'],
            ['+972 ðŸ‡®ðŸ‡± Israel', '+972'],
            ['+971 ðŸ‡¦ðŸ‡ª United Arab Emirates', '+971']
          ], resource.mobile_country_code || '+61'),
          { prompt: 'Select country code' },
          { class: "form-select", autocomplete: "tel-country-code" } %>
    </div>

    <div class="form-group">
      <%= f.label :mobile_number, "Mobile Number", class: "form-label" %>
      <%= f.telephone_field :mobile_number, 
          class: "form-input", 
          placeholder: "Enter your mobile number",
          autocomplete: "tel-national" %>
      <div class="form-hint">Enter your mobile number without the country code</div>
    </div>
  </div>

  <!-- Current password only for profile updates that change email -->
  <div class="form-group">
    <%= f.label :current_password, "Current Password", class: "form-label" %>
    <%= f.password_field :current_password, class: "form-input", autocomplete: "current-password" %>
    <div class="form-hint">Required to confirm changes to your profile</div>
  </div>

  <div class="form-actions">
    <%= f.submit "Update Profile", class: "btn btn-primary" %>
    <%= link_to "Cancel", dashboard_path, class: "btn btn-secondary" %>
  </div>
<% end %>