<% content_for :page_title, "Dashboard" %>
<%= stylesheet_link_tag "admin/dashboard", "data-turbo-track": "reload" %>

<div class="admin-dashboard">
  <div class="admin-dashboard-body">
    <%= render 'section_gauges', gauges: @gauges %>

    <%= render 'section_recommendations', recommendations: @recommendations %>

    <%= render 'card_application_funnel', funnel: @funnel %>

    <%= render 'card_calendar_heatmap', calendar: @calendar %>

    <%= render 'card_regional_map', geo: @geo %>

    <div class="dashboard-overview-grid">
      <%= render 'card_financial_overview', data: @financial_overview %>
      <%= render 'card_customer_acquisition_overview', data: @customer_acquisition_overview %>
      <%= render 'card_customer_service_overview', data: @customer_service_overview %>
      <%= render 'card_risk_overview', data: @risk_overview %>
    </div>

    <%= render 'section_trends', trends: @trends %>
  </div>
</div>
