<nav class="navigation">
  <div class="nav-container">
    <%= link_to "FutureProof", root_path, class: "nav-logo" %>
    
    <div class="nav-links">
      <% if user_signed_in? %>
        <span class="nav-user">Welcome, <%= current_user.email %></span>
        <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
        <%= render 'shared/sign_out_link' %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link nav-signup" %>
      <% end %>
    </div>
  </div>
</nav>